{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">
            <div class="well col-lg-10">

            	<h3>Créé ton terrain :</h3>
              	
              		{{ form(form) }}	
					
		        <hr>	                   			               			         
			              	       		
			</div>
		</div>
		
	{% endblock %}