{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div style="margin-top:45px;" class="container">
            <div class="well col-lg-10">

            	<h3>Crée ton équipe :</h3>
              	
              	{{ form(form) }}	
					
		        <hr>	                   			               			         
			              	       		
			</div>
		</div>
		
	{% endblock %}