{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}


		<div class="container">
			<div class="well col-lg-6">

				{% include 'FOSUserBundle:Registration:register_content.html.twig' %}

			</div>
		</div>

	{% endblock %}