{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        
    		<div class="container">
                <div class="well col-lg-10">

                    <h1 class="page-header">{{ user.username}}

                        {% for sport in user.sportPracticed %}
                            <small>SPORT : {{ sport.name }}</small>
                        {% endfor %}

                        <small>AGE : {{ user.age }} ans</small>

                    </h1>

                </div>
            </div>
        
        <!-- /.row -->

	{% endblock %}