{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        {% for friend in app.user.friend %}
    		<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ friend.username}}
                        <small>SPORT : {{ friend.sportPracticed}}</small>
                        <small>AGE : {{ friend.age }} ans</small>
                    </h1>
                </div>
            </div>
        {% endfor %}
        
        <!-- /.row -->

	{% endblock %}