{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}
		
			<div class="container">
            	<div class="well col-lg-10">

					<h2> Mon compte :</h2>						

			                {{ form(form) }}
			                <a class="btn btn-primary" href="{{ path('front_office_update_user') }}">Enregistrer<span class="glyphicon glyphicon-chevron-right"></span></a>				                 

		                	<hr>	

	            </div>			
			</div>
		
	{% endblock %}