{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">
			<div style="margin-top:40px;" class="well col-lg-6">

				<strong><p style="text-align:center;">{{ app.user.favouriteSport }}</p></strong>

				{% if (userTo) %}

					<p>invite  <strong>{{ userTo.username }}</strong></p>

				{% else %}

					<p>Lancer une invitation :</p>
	
				{% endif %}

				{{ form(form) }}

			</div>
		</div>

	{% endblock %}