{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class=container>

			<h2 style="text-align:center;">Conditions Générales d'Utilisation</h2>

			<p style="padding:25px;text-align:justify;">In sollicitudin lectus ac dolor ullamcorper, vel laoreet risus posuere. In semper libero eu justo varius rhoncus. Maecenas commodo, sem at facilisis faucibus, elit enim pharetra leo, a semper metus sem eget magna. Etiam sed sem sodales, dapibus nulla id, suscipit ligula. Curabitur luctus nisi neque, a sagittis lacus eleifend imperdiet. Morbi gravida mauris quam, quis consequat elit porttitor in. Aliquam finibus risus non turpis varius, placerat ullamcorper diam condimentum. Duis ullamcorper faucibus lacus, id finibus augue. Nulla non rhoncus lorem. Pellentesque sit amet eleifend orci. Praesent quis nulla feugiat, lacinia metus a, egestas libero. </p>

		</div>

	{% endblock %}