{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div style="text-align:center;">

			<h2> Ajoût d'un terrain de sport dans le blog</h2>

				{{ form(form) }}

		</div>

	{% endblock %}