{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div style="text-align:center;">

			<h2> Mise à jour d'un terrain de sport :</h2>

				{{ form(form) }}

		</div>
		
	{% endblock %}