{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">

	        <div class="row">
	            <!-- Blog Entries Column -->
	            <div class="col-md-10">

					<h2>Entrez le score:</h2>

					{{ form(form) }}

				</div>

			</div>

		</div>

	{% endblock %}